# Eclipse project files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Java class files
*.class

# Jar files
*.jar

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle files
.gradle/
build/

.project
.classpath


# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml